<!-- inbox.html -->
{% extends 'base.html' %}

{% block title %}Inbox{% endblock %}
{% block content %}
    <h2>Вхідні</h2>
    <div id="email-list">
        {% for message in received_messages %}
            <div class="email-item" data-message-id="{{ message.id }}">
                <strong>Зміст: {{ message.subject }}</strong>
                <p>Текст: {{ message.body }}</p>
            </div>
        {% endfor %}
    </div>

{% endblock %}


{% block email_detail %}
    <div id="email-detail">
        <!-- This div will be populated with email details when an email is clicked -->
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script>
        $(document).ready(function() {
            $(document).on('click', '.email-item', function() {
                var messageId = $(this).data('message-id');

                // Make an AJAX request to get email details based on the message_id
                $.ajax({
                    url: '/get_email_detail/' + messageId,
                    method: 'GET',
                    success: function(data) {
                        // Populate the email-detail div with the fetched email details
                        $('#email-detail').html(data);
                    },
                    error: function() {
                        console.error('Error fetching email detail.');
                    }
                });
            });
        });
    </script>
{% endblock %}