<!-- profile.html -->
{% extends 'base.html' %}

{% block title %}Profile{% endblock %}
{% block content %}
    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Профіль</title>
    </head>
    <body>
        <h2>Profile</h2>
        <p>ID військового: {{ user[1] }}</p>
        <p>Прізвище та Ім'я: {{ user[2] }}</p>
        <p>Звання: {{ user[3] }}</p>
        <p>Номер підрозділу: {{ user[4] }}</p>
    </body>
    </html>
{% endblock %}

