<!-- signup.html -->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Реєстрація</title>
</head>
<body>
    <h2>Реєстрація</h2>
    <form method="POST">
        <label>ID Військового:</label>
        <input type="text" name="military_id" required><br>

        <label>Прізвище та Ім'я:</label>
        <input type="text" name="full_name" required><br>

        <label>Звання:</label>
        <input type="text" name="title" required><br>

        <label>Номер підрозділу:</label>
        <input type="number" name="department_number" required><br>

        <label>Електронна адреса:</label>
        <input type="email" name="email" required><br>

        <label>Пароль:</label>
        <input type="password" name="password" required><br>

        <input type="submit" value="Signup">
    </form>

    <!-- Link to login page -->
    <p>Already have an account? <a href="{{ url_for('login') }}">Login</a></p>
</body>
</html>
